body{
    margin: 0;
    font-size: 16px;
    background: #F7FD04;
    font-family: 'Fugaz One', cursive;
    
}

.title{
    color: #FC5404;
    font-size:  2rem;
}

.intro{
    color: #F98404;
    font-size: 0.8rem;
}

.home{
    text-align: center;
    border-style: solid;
    margin: 2rem;
    padding: 1.8rem;
}

.testomonials{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1.2rem;
    column-gap: 1.1rem;
  }

.truck{
    display: block;
    width: 15rem;
    height: 10rem;
    position: relative;
    margin: 0 auto;
    border-style: solid;
}

.entry{
  background: #F98404;
  padding: 3rem 1.2rem;
  text-align: center;
  border-style: solid;
}

.client{
  border-radius: 50%;
  border-style: solid;
}

a:link {
    color: #FC5404;
    background-color: transparent;
    text-decoration: none;
  }
    
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

  @media only screen and (max-width: 800px) {
    .testomonials{
      
      grid-template-columns: auto;
      row-gap: 2rem;
    }
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #F98404;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ac3600;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: yellow;
  color: #FC5404;
}